$primary-color-light:#f4e5ec;
$primary-color-gray:#dbdbdb;
$primary-color:#ed3849;
$primary-color-dark:#d23141;


$text-dark:#0f172a;
$text-light:#5a5a5a;

$text-link:#0d4eff;
$extra-light:#f8fafc;
$border-bt:rgba(0, 0, 0, 0.1);
$white:#ffffff;
$bg-black:#262626;
$max-width-1400: 1400px;
$max-width-1200: 1200px;
$font-title:2rem;