@import './sass/index.scss';

:root {
    --primary-color: #ed3849;
    --primary-color-dark: #d23141;
    --primary-color-light: #f4e5ec;
    --primary-color-gray: #dbdbdb;
    --text-dark: #0f172a;
    --text-light: #5a5a5a;
    --extra-light: #f8fafc;
    --border-bt:rgba(0, 0, 0, 0.1);
    --white: #ffffff;
    --max-width-1400: 1400px;
    --max-width-1200: 1200px;
    --max-width-900: 900px;
    --header-font:"Lexend",serif;
    --header-logo: "Just Me Again Down Here", serif;
    --font-Gabarito:"Gabarito",serif;
    --bg-black:#262626;
}
.product__list>li:hover{
    background-color: #949494;
}
.bg__header{
    background: #999999;
}
.bg__filter{
    background:#E2E1E1;
}
.bg__div{
    background: #c2c0c0;
}
.product__list>li{
    background: #e2e2e2
}
.product__list>div:nth-child(2){
    background: #e2e2e2
}
.font__text{
    font-family: var(--header-font);
}
.store__title{
    background:rgba(59, 59, 59, 0.8);
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.store__title>h4{
    text-shadow: 0 0 20px rgb(0, 0, 0);
}
.btn__click{
    background: rgba(0, 0, 0, 0.1);
}
.max-width{
    max-width: var(--max-width-1400);
    margin: auto;
    margin-top: 5rem;
    background: var(--primary-color-gray);
    margin-bottom: 2rem;
}
img {
    width: 100%;
    display: flex;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}
nav {
    max-width: var(--max-width-1200);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--border-bt);
    padding: 0.5rem 0;
}
.hover__btn:hover{
    box-shadow: inset 0px 0px 8px rgb(112, 94, 94);
    opacity: 0.9;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
/* navbar   */
.nav__links {
    flex: 1;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    font-family: var(--header-font);
    font-optical-sizing: auto;
    font-style: normal;
}
.nav__logo {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--header-logo);
    color: var(--text-dark);
    border-bottom:  none;
    font-weight:800;
    padding: 0;
}

.nav__logo a:hover{
    text-shadow: -2px -2px 5px rgba(0,0,0,0.4);
    transform:translateY(-3px);
}

/* btn  */
.btn{
    background: var(--bg-black);
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    opacity: 0.9;
    transform: scale(1.1) translateX(10px);
}

.btn__add{
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
.btn__seemore:hover,
.btn__add:hover{
    transform: scale(1.1);
}
.categories__card h4::first-letter {
    text-transform: uppercase;
}

.bg-primary-gray {
    background-color: var(--primary-color-gray);
    border-radius: 5px;
}
.title{
    font-family: var(--header-font);
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.shoppingBox{
    display: none;
    z-index: 100;
}

.shoppingBox::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2rem;
    top: -1.3rem;
    left: 0;
    opacity: 0.5;
}
.shoppingBox::after{
    content: "";
    position: absolute;
    border-width: 0.7rem;
    border-color: #000 transparent transparent #000;
    border-style: solid;
    top: -0.7rem;
    right: 1rem;
    opacity: 0.8;
    transform: rotate(45deg);
}
.iconShopping:hover .shoppingBox{
    display: block;
}
/* .btn__center{
    margin: 0 auto;
} */

/* home  */
.store__list,
.section__container {
    max-width: var(--max-width-1400);
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    background: var(--primary-color-gray);
    margin-bottom: 2rem;
}
.section__container{
    margin-top: 2rem;
}
.section__header {
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}
.section__body {
    margin-bottom: 1rem;
    font-family: var(--header-font);
    color: var(--text-dark);
}
.store__container{
    max-width: var(--max-width-1400);
    margin: auto;
    width: 100%;
    padding: 1rem;
    max-height: 450px;
    background: var(--primary-color-gray);
    height: 450px;
    margin-top: 5rem;
    font-weight: bold;
}



.header__container {
    max-height: 650px;
    height: 650px;

}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.header__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.header__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-shadow: none;
    z-index: 0;
}
.header__image img.active {
    opacity: 1;
    z-index: 1;
}

/* category  */
.introduce__grid,
.product__grid {
    max-width: var(--max-width-1400);
    margin: 2rem auto;
}
.box{
    background: var(--primary-color-gray);
}
.box>nav{
    height: 320px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}


.product__hv:hover{
    transform: scale(1.1);
}



.banner__container {
    max-width: var(--max-width-900);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer__container {
    max-width: var(--max-width-1200);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
footer{
    background: var(--bg-black);
}
.footer__container h4 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;

}
@media (width < 900px) {
    nav{
        margin: 0;
    }
    .nav__links {
        display: none;
    }

    /* .header__container {
        grid-template-columns: repeat(1, 1fr);
    } */

    .header__content {
        margin: auto;
        text-align: center;
    }

    .header__image {
        min-height: 300px;
    }

    .hero__container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .product__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    } */

    .deals__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .deals__content {
        margin: auto;
        text-align: center;
    }

    .deals__countdown {
        justify-content: center;
    }

    .deals__image {
        min-height: 300px;
        grid-area: 2/1/3/2;
    }

    .banner__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        display: flex;
        flex-direction: column;
    }
}

@media (width < 600px) {
    /* .categories__grid {
        grid-template-columns: repeat(2, 1fr);
    } */

    /* .hero__container {
        grid-template-columns: repeat(1, 1fr);
    } */

    /* .product__grid {
        grid-template-columns: repeat(2, 1fr);
    } */

    /* .banner__container {
        grid-template-columns: repeat(1, 1fr);
    } */

    /* .instagram__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    } */
}

.nav__icons span a.dropdown-items {
    font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-product-InputCSS {
    @apply mt-1 block py-2.5 px-4 w-full rounded-md bg-gray-100 border-gray-300 shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm
}

.add-product-btn {
    @apply mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
}